html {
  scroll-behavior: smooth;
  margin-top: 150px;
  overflow-x: hidden;
}

header {
  background-color: gray;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: gainsboro;
  padding: 10px 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

footer section {
  flex: 1; 
  min-width: 200px;
}

footer div {
  flex-basis: 100%; 
  text-align: center; 
}