html {
  scroll-behavior: smooth;
  margin-top: 150px;
  overflow-x: hidden;
}

header {
  background-color: gray;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: gainsboro;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

footer section {
  flex: 1; 
  min-width: 200px;
}

footer div {
  flex-basis: 100%; 
  text-align: center; 
}

.Skills {
  background-color: rgb(244, 231, 231);
  padding: 15px;
}

.Projects {
  background-color: rgb(99, 97, 97);
  padding: 15px;
}

.SoftSkills {
  background-color: rgb(52, 99, 99);
  padding: 5px;
}

.SoftSkills img {
  width: 150px;
  height: 150px;
}

.TechSkills {
  background-color: aqua;
  padding: 15px;
}

.TechSkills img{
  width: 40px;
  height: 40px;
}